@import "~bootstrap/scss/bootstrap";

$navBar: #8CC63F;
$background: #FFFFFF;
$text: #0B9444;

body{
    background-color: $background;
    color: $text;
}

.navbar {
    background-color: $navBar !important;
    box-shadow: 0 5px 10px 0 rgba(204,204,204, 0.3);
    margin-bottom: 40px;
    a{
        color: #FFFFFF;
    }
}
